# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
**/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Capacitor
android/.gradle/
android/build/
android/app/build/

# Misc
coverage/